
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5em;
}
.accordion-button{
    outline: unset;
    box-shadow: unset;
}
.fa-google-play{
    margin-left: -48px;
}


#Choose_plan{
    background-color: #f496d27e;
}
.package_hover:hover{
    background-color: #3F87F5;
    height: 480px;
    max-width: 292px;
    width: 100%; 
    border-radius: 26px;
    margin: 0 auto;
    padding: 15%;
}
.package_hover:hover h1{
    color: #fff ;
}
.package_hover:hover .package_hover_color{
    color: #fff !important;
}
.package_hover:hover .package_hover_bg{
    background-color: #fff !important;
}

.Wedding_plus{
    background-color: #3F87F5;
    height: 480px;
    max-width: 292px;
    width: 100%; 
    border-radius: 26px;
    margin: 0 auto;
    padding: 15%;

}
.Wedding_plus h1{
    color: #fff ;
}
.Wedding_color{
    color: #fff!important;
}
.Wedding_bg{
    background-color: #fff !important;
}
/* @media only screen and (min-width: 200px) and (max-width: 480px){
    .package_hover:hover{
        background-color: #3F87F5;
        height: 480px;
        max-width: 500px;
        width: 100%; 
        border-radius: 26px;
        margin: 0 auto;
        padding: 50%;
    }

} */